@model System.String

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>about</title>
</head>
<body>
    <div>
        <p>controller name: @Model</p>
    </div>
</body>
</html>
